html {
   background-color: rgb(100, 188, 214);
}
.largura {
  width: 700px;
  margin: auto; 
}

.menu {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.menu {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.menu > a:visited {
 color: rgb(137, 226, 21)
}

.menu >:hover {
  color: brown;
}

h1 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.979);
  padding-bottom: 5px;
}

.conteudo {
  font-family: 'Oswald', sans-serif;
  line-height: 32px;
}

.img-principal {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.selecionado {
  border-bottom: 2px dotted black;
}
